body {
	background: #30404d;
}

.leftMenu .selected {
	background: #5C7080;
}

.bp3-popover-target.contact-group {
	width: 100%;
}

.contact-group .bp3-tag-input-values input {
	font-size: 14px;
}

div.bp3-tag.bp3-interactive.contact-list-item {
	background: #394B59;
}

div.bp3-tag.bp3-interactive.contact-list-item.selected{
	background: #5C7080;
}

div.bp3-tag.bp3-interactive.contact-list-item:hover {
	background: #202B33;
}

div.bp3-tag.bp3-interactive.contact-list-item {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-left: 8px;
  margin: 3px;
  background-color: #394b59;
  color: white;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.4);
}

div.bp3-tag.bp3-interactive.contact-list-item div.avatar {
  width: 50px;
  height: 50px;
  font-size: 35px;
  background-color: #182026;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
}


